<div class="container pt-2 mt-5 mb-5 border">
  <div class ="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 mt-5 mb-5 pt-5">
        <div class=" d-flex justify-content-between color bg-info ">
            <div class="p-2 text-light pl-4"><i class="fas fa-graduation-cap icon"></i></div>
            <div class="p-2 text-light font-weight-bold signin">Sign In</div>
            <div class="p-2 text-light pr-4"><i class="fas fa-times icon"></i></div>
          </div>


          <div class="container pl-5 pr-5">
              <form>
                  <div class="input-group mt-5">
                    <input type="text" class="form-control rounded-0" placeholder="mail@example.com" id="demo" name="email">
                    <div class="input-group-append">
                      <span class="input-group-text rounded-0">
                          <i class="fas fa-envelope"></i>
                      </span>
                    </div>
                  </div>
    
                  <div class="input-group mt-3">
                      <input type="text" class="form-control rounded-0" placeholder="password" id="demo" name="email">
                      <div class="input-group-append">
                        <span class="input-group-text rounded-0">
                            <i class="fas fa-unlock-alt"></i>
                        </span>
                      </div>
                    </div>
    
    
                </form>
          </div>

          <div class="container pl-5 pr-5 mt-5">
              <button type="button" class="btn btn_color btn-block font-weight-bold">SIGN IN</button> 
          </div>
          

          <div class="container pl-5 pr-5 mt-2">
            <div class="d-flex justify-content-between">
                <div>Forget your password?</div>
                <div>Register?</div>
            </div> 
          </div>

          <div class="row d-flex justify-content-around pl-5 pr-5 mt-4">
            <div class="col-sm-5"><hr></div>
            <div class="col-sm-2">OR</div>
            <div class="col-sm-5"><hr></div>
          </div>

          <div class="container pl-5 pr-5 mt-5">
              <button type="button" class="btn btn_fb btn-block font-weight-bold"><i class="fab fa-facebook-f text-light"></i>
              </button> 
          </div>

          <div class="container pl-5 pr-5 mt-2">
              <button type="button" class="btn btn-danger btn-block font-weight-bold">
                  <i class="fab fa-goodreads-g text-light"></i>
              </button> 
          </div>

          <div class="container pl-5 pr-5 mt-5">
              <button type="button" class="d-flex justify-content-center btn btn_epam btn-block">
                  <i class="fas fa-angle-left text-light icons"></i>
                  <div class="text-light">EPAM LOGIN</div>
                  <i class="fas fa-angle-right text-light icons"></i>
              </button> 
          </div>

    </div>
    <div class="col-sm-3"></div>

  </div>
</div>